<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.stevens.cs522.chatappcloud"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WIFI" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="edu.stevens.cs522.activities.startActivity"
            android:label="@string/title_activity_set_head" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.stevens.cs522.activities.PeersActivity"
            android:label="@string/title_activity_peers" >
        </activity>
        <activity
            android:name="edu.stevens.cs522.activities.ChatApp"
            android:label="@string/title_activity_chat_client" >
        </activity>

        <provider
            android:name="edu.stevens.cs522.providers.CloudProvider"
            android:authorities="chatappcloud"
            android:exported="true" >
        </provider>

        <service
            android:name="edu.stevens.cs522.services.RequestService"
            android:exported="false" >
            <intent-filter>
                <action android:name="edu.stevens.cs522.requests.register" />
            </intent-filter>
        </service>
        <receiver android:name="edu.stevens.cs522.services.AlarmReceiver"/>

        <service
            android:name="edu.stevens.cs522.services.LocationService"
            android:exported="false"/>
    </application>

</manifest>